@model PagedList<School.Models.jwmangerSet>
@using Webdiyer.WebControls.Mvc
@{
    Layout = "~/Views/Shared/_ViewPage1.cshtml";
}
<div class="content ">
        <p class="title">教务管理</p>
        <div class="center">
                <ul class="center_nav fl">
                    <li><a href="@Url.Action("_Index1","Jwguanli")">制度文件</a></li>
                    <li><a href="@Url.Action("_Index2","Jwguanli")">教务通知</a></li>
                    <li class="first"><a href="@Url.Action("_Index3","Jwguanli")">实践教学</a></li>
                    <li><a href="@Url.Action("_Index4","Jwguanli")">工作流程</a></li>
                </ul>
                @{
                    int k=1;
                    foreach (var item in Model)
                    {
                <div class="center_body fl">
                    <div>
                        <p>@Html.ActionLink((k++).ToString() + "." + item.title, "Details", new { id = item.ID })</p>
                        <span>@item.time</span>&nbsp&nbsp&nbsp&nbsp&nbsp消息出自：&nbsp&nbsp<span>@item.writer</span>
                    </div>
                   

                        <p><div style="padding:0px  auto 0px auto">
        <a> @Html.Pager(Model,
            new PagerOptions
            {
                NextPageText = "下一页",
                PrevPageText = "上一页",
                FirstPageText = "首页",
                LastPageText = "末页",
                PageIndexParameterName = "jwIndex",
                CssClass = "pages",
                CurrentPagerItemWrapperFormatString = "<span class=\"cpb\">{0}</span>",
                NumericPagerItemWrapperFormatString = "<span class=\"item\">{0}</span>",
                NumericPagerItemCount=6
            },
                null,
                new
                {
                    id = ViewBag.columnId,
                    classId = ViewBag.classId
                })
                </a>
         </div></p>

                </div>
                    }
                    }
        </div>
        <div class="footer">
            <center>版权所有：中国矿业大学艺术与设计学院 <a href="@Url.Action("LogOn", "Account", new { area = "Admin" })"><small>后台管理</small></a> </center>
            <center>地址：江苏省徐州市大学路1号中国矿业大学南湖校区 | 电话：0516-8359199 | 传真：0516-83591999</center>
        </div>
</div>